body {
  background: linear-gradient(
    180deg,
    rgba(91, 206, 203, 0) 0%,
    rgba(91, 206, 203, 0.838542) 0.01%,
    rgba(91, 206, 203, 0.46) 7.26%,
    rgba(91, 206, 203, 0) 100%
  ),
  url(../img/Palm.svg) center/cover no-repeat;
  background-size: auto;
  
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  backdrop-filter: blur(4px);
  margin: 0;
}

h1{
  font-weight: normal;
  position: relative;
  left: 137px;
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: #000;
}
section{
  padding-top: 10rem;
}

/* NAV bar */
header{
  position: sticky;
  top: 0;
  height: 7rem;
  z-index: 1000;
}
.logo {
  height: 15rem;
  margin-left: 3rem;
}
nav ul {
  float: right;
  list-style: none;
  display: flex;
  flex-direction: row;
}
nav li {
  border-bottom: 1px solid transparent;
  transition: 0.2s;
  margin: 20px;
}
nav li:hover {
  border-bottom: 3px solid #f78fb3;
}
nav  ul  li  a {
  text-decoration: none;
  color: #000;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}


/* Sýningartímar */


.syningartimar {
position: relative;
width: 100%;
padding-top: 6rem;
transform: rotate(-2deg);
}
.posters {
height: 20rem;
padding-top: 70px;
padding-left: 25px;
padding-right: 25px;
display: flex;
flex-direction: row;
justify-content: space-between;

grid-area: overlay;
}


/* Grid inside the film svg */
.film-reel {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "overlay";
}
.filma {
	grid-area: overlay;
}

/* Frétta tab */
#frettir{
  position: relative;
}

.frettainfo {
  position: relative;
  width: 1292px;
  height: 819px;
  left: 200px;
  margin-top: 4rem;

	background: #f78fb3;
	border-radius: 0.2em;

	color: white;

	display: flex;
	flex-direction: column;
	padding: 30px;
	max-width: 1400px;
	min-width: 815px;
}

@media (min-width: 1080px) {
	.news {
		margin-left: 140px;
		justify-content: right;
	}
}

.news-title {
	margin-top: 0;
	font-size: 35px;
}
.news-subtitle {
	font-size: 20px;
	font-weight: bolder;
}

.news img {
	float: right;
	height: 250px;

	border-radius: 0.3em;
	margin-left: 40px;
	margin-bottom: 20px;
}

/* Væntanlegt */

.vaentanlegt {
  position: relative;
  left: 137px;

  margin-top: 4rem;

  font-family: "Oswald", sans-serif;
  font-size: 4rem;
  color: #000;
}

.coming-container {
  width: 100%;
  height: 450px;
  padding-top: 40px;
  left: -8.45px;
  margin-top: 4rem;

	transform: rotate(3deg);
}

.filma2 {
	grid-area: overlay;
}

.posters2 {
	height: 220px;
	padding-top: 70px;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	grid-area: overlay;
}

/* Footer */

.footer {
  background-color: #079992;
  font-family: "Oswald", sans-serif;
  width: 100%;
  margin-top: 20rem;
  bottom: 0;
}

.contact {
	display: flex;
	flex-direction: column;
	row-gap: 10px;

	padding: 20px;
}

.contact img {
	width: 24px;
}

.contact-text {
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
  color: #f1f1f1;
  padding-left: 20px;
  padding-top: 10px;
}


.grid img{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 30px;
}

.contact-icons{
  grid-area: overlay;
}

.grid p{
  grid-area: overlay;
  padding-left: 80px;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  color: #f1f1f1;
  font-size: 20px;
}

.social-media {
  position: absolute;
  bottom: 190px;
  right: 32px;
}
.social-media a {
	display: inline-flex;
	width: 40px;
	height: 40px;
	font-size: 20px;
	text-decoration: none;
	background: #079992;
	color: #f1f1f1;
	margin: 5px;
	border-radius: 50%;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.social-media a:hover {
	background: #f1f1f1;
	color: #079992;
	box-shadow: none;
}

/* poster hover */

.card {
	background-image: url(../img/freeguy.jpeg);
	background-size: cover;
	border-radius: 0.2em;
	overflow: hidden;

	transition: transform 500ms;
	grid-area: overlay;
}

.card:hover {
	transform: scale(1.02);
}

.card-content {
	--padding: 1.5rem;
	padding: var(--padding);
	background: linear-gradient(hsl(0 0% 0% / 0), hsl(0 0% 0% / 1));
	transform: translateY(55%);
	transition: transform 500ms;
}

.card:hover .card-content {
	transform: translateY(0);
}

.card-title {
	position: relative;
	width: max-content;
	max-width: 100%;
	text-transform: uppercase;
	font-family: "oswald", sans-serif;
}

.card-title::after {
	content: "";
	height: 4px;
	bottom: 0;
	background: #079992;
	transform: scaleX(0);
	transform-origin: left;

	transition: transform 500ms;
}

.card:hover .card-title::after {
	transform: scaleX(1);
}

.button {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: #079992;
	padding: 0.5em 1.25em;
	border-radius: 0.25em;
	margin: 15px;

	transition: transform 300ms;
}

.button:hover,
.button:focus {
	background-color: #000;
	color: #079992;
	transform: scale(1.1);
}